USE [dbReviziCar]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 23/07/2026 10:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cliente]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Cliente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](150) NOT NULL,
	[CPF] [char](11) NULL,
	[CNPJ] [char](14) NULL,
	[Email] [nvarchar](200) NULL,
	[Telefone] [nvarchar](20) NOT NULL,
	[DataCadastro] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[FormaPagamento]    Script Date: 23/07/2026 10:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormaPagamento]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FormaPagamento](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](80) NOT NULL,
	[TaxaDescontoPercent] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_FormaPagamento] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 23/07/2026 10:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Funcionario]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Funcionario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NomeCompleto] [nvarchar](150) NOT NULL,
	[DataCadastro] [datetime2](7) NOT NULL,
	[Senha] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Funcionario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 23/07/2026 10:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Marca]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Marca](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Modelo]    Script Date: 23/07/2026 10:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Modelo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Modelo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdMarca] [int] NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Modelo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Servico]    Script Date: 23/07/2026 10:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Servico]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Servico](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Servico] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[StatusServico]    Script Date: 23/07/2026 10:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StatusServico]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StatusServico](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StatusServico] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Venda]    Script Date: 23/07/2026 10:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Venda]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Venda](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdAtendente] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdMarca] [int] NOT NULL,
	[IdModelo] [int] NOT NULL,
	[IdServico] [int] NOT NULL,
	[IdStatus] [int] NOT NULL,
	[Placa] [nvarchar](10) NOT NULL,
	[ValorTotal] [decimal](10, 2) NOT NULL,
	[Observacao] [nvarchar](500) NULL,
	[PrimeiroPagamento] [int] NULL,
	[ValorPrimeiroPagamento] [decimal](10, 2) NULL,
	[SegundoPagamento] [int] NOT NULL,
	[ValorSegundoPagamento] [decimal](10, 2) NOT NULL,
	[Data] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Venda] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ID], [Nome], [CPF], [CNPJ], [Email], [Telefone], [DataCadastro]) VALUES (1, N'ANTONIO CESAR MARTIN', N'06981838869', NULL, NULL, N'(18) 99601-5290', CAST(N'2025-10-20T17:24:21.0000000' AS DateTime2))
INSERT [dbo].[Cliente] ([ID], [Nome], [CPF], [CNPJ], [Email], [Telefone], [DataCadastro]) VALUES (2, N'VANESSA DOS SANTOS CONTRERA', N'22525616880', NULL, NULL, N'(18) 99745-0104', CAST(N'2025-10-21T16:51:16.0000000' AS DateTime2))
INSERT [dbo].[Cliente] ([ID], [Nome], [CPF], [CNPJ], [Email], [Telefone], [DataCadastro]) VALUES (3, N'DELIVERY CHANTILLY', NULL, N'42405249000127', NULL, N'(18) 3222-2637', CAST(N'2025-10-21T17:05:15.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[FormaPagamento] ON 

INSERT [dbo].[FormaPagamento] ([ID], [Nome], [TaxaDescontoPercent]) VALUES (4, N'Débito', CAST(0.60 AS Decimal(5, 2)))
INSERT [dbo].[FormaPagamento] ([ID], [Nome], [TaxaDescontoPercent]) VALUES (6, N'Credito', CAST(0.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[FormaPagamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Funcionario] ON 

INSERT [dbo].[Funcionario] ([ID], [NomeCompleto], [DataCadastro], [Senha]) VALUES (3, N'Gabriel de Almeida', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'senha123')
INSERT [dbo].[Funcionario] ([ID], [NomeCompleto], [DataCadastro], [Senha]) VALUES (5, N'Leonardo Gomes Garcia', CAST(N'2026-06-29T09:07:30.9237884' AS DateTime2), N'senha456')
INSERT [dbo].[Funcionario] ([ID], [NomeCompleto], [DataCadastro], [Senha]) VALUES (6, N'Leandro', CAST(N'2026-06-29T11:10:10.2943550' AS DateTime2), N'revizi123')
SET IDENTITY_INSERT [dbo].[Funcionario] OFF
GO
SET IDENTITY_INSERT [dbo].[Marca] ON 

INSERT [dbo].[Marca] ([ID], [Nome]) VALUES (14, N'BMW')
INSERT [dbo].[Marca] ([ID], [Nome]) VALUES (3, N'Chevrolet')
INSERT [dbo].[Marca] ([ID], [Nome]) VALUES (4, N'Fiat')
SET IDENTITY_INSERT [dbo].[Marca] OFF
GO
SET IDENTITY_INSERT [dbo].[Modelo] ON 

INSERT [dbo].[Modelo] ([ID], [IdMarca], [Nome]) VALUES (1, 1, N'Corolla')
INSERT [dbo].[Modelo] ([ID], [IdMarca], [Nome]) VALUES (2, 1, N'Corolla Cross')
INSERT [dbo].[Modelo] ([ID], [IdMarca], [Nome]) VALUES (3, 1, N'Hilux')
GO
SET IDENTITY_INSERT [dbo].[Modelo] OFF
GO
SET IDENTITY_INSERT [dbo].[Servico] ON 

INSERT [dbo].[Servico] ([ID], [Nome]) VALUES (10, N'Alinhamento/Balanceamento')
INSERT [dbo].[Servico] ([ID], [Nome]) VALUES (11, N'Ar Condicionado')
INSERT [dbo].[Servico] ([ID], [Nome]) VALUES (9, N'Check Up')
SET IDENTITY_INSERT [dbo].[Servico] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusServico] ON 

INSERT [dbo].[StatusServico] ([ID], [Nome]) VALUES (3, N'Cancelado')
INSERT [dbo].[StatusServico] ([ID], [Nome]) VALUES (1, N'Concluído')
INSERT [dbo].[StatusServico] ([ID], [Nome]) VALUES (2, N'Em Andamento')
SET IDENTITY_INSERT [dbo].[StatusServico] OFF
GO
SET IDENTITY_INSERT [dbo].[Venda] ON 

INSERT [dbo].[Venda] ([ID], [IdAtendente], [IdCliente], [IdMarca], [IdModelo], [IdServico], [IdStatus], [Placa], [ValorTotal], [Observacao], [PrimeiroPagamento], [ValorPrimeiroPagamento], [SegundoPagamento], [ValorSegundoPagamento], [Data]) VALUES (3, 3, 1, 14, 128, 10, 2, N'ABC1234', CAST(10.00 AS Decimal(10, 2)), N'', 4, CAST(4.00 AS Decimal(10, 2)), 4, CAST(6.00 AS Decimal(10, 2)), CAST(N'2026-06-18T08:08:10.0654504' AS DateTime2))
INSERT [dbo].[Venda] ([ID], [IdAtendente], [IdCliente], [IdMarca], [IdModelo], [IdServico], [IdStatus], [Placa], [ValorTotal], [Observacao], [PrimeiroPagamento], [ValorPrimeiroPagamento], [SegundoPagamento], [ValorSegundoPagamento], [Data]) VALUES (4, 3, 5, 8, 81, 9, 2, N'ABC1234', CAST(300.00 AS Decimal(10, 2)), N'Borrachas do vidro soltando', 6, CAST(200.00 AS Decimal(10, 2)), 4, CAST(100.00 AS Decimal(10, 2)), CAST(N'2026-06-29T08:28:53.3079709' AS DateTime2))
INSERT [dbo].[Venda] ([ID], [IdAtendente], [IdCliente], [IdMarca], [IdModelo], [IdServico], [IdStatus], [Placa], [ValorTotal], [Observacao], [PrimeiroPagamento], [ValorPrimeiroPagamento], [SegundoPagamento], [ValorSegundoPagamento], [Data]) VALUES (5, 3, 4, 14, 129, 10, 3, N'dwqsxas', CAST(100.00 AS Decimal(10, 2)), N'', 4, CAST(10.00 AS Decimal(10, 2)), 4, CAST(90.00 AS Decimal(10, 2)), CAST(N'2026-06-29T08:30:50.4226663' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Venda] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_FormaPagamento_Nome]    Script Date: 23/07/2026 10:26:33 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[FormaPagamento]') AND name = N'UQ_FormaPagamento_Nome')
ALTER TABLE [dbo].[FormaPagamento] ADD  CONSTRAINT [UQ_FormaPagamento_Nome] UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Marca_Nome]    Script Date: 23/07/2026 10:26:33 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Marca]') AND name = N'UQ_Marca_Nome')
ALTER TABLE [dbo].[Marca] ADD  CONSTRAINT [UQ_Marca_Nome] UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Servico_Nome]    Script Date: 23/07/2026 10:26:33 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Servico]') AND name = N'UQ_Servico_Nome')
ALTER TABLE [dbo].[Servico] ADD  CONSTRAINT [UQ_Servico_Nome] UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_StatusServico_Nome]    Script Date: 23/07/2026 10:26:33 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[StatusServico]') AND name = N'UQ_StatusServico_Nome')
ALTER TABLE [dbo].[StatusServico] ADD  CONSTRAINT [UQ_StatusServico_Nome] UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Cliente_DataCadastro]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_DataCadastro]  DEFAULT (sysdatetime()) FOR [DataCadastro]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_FormaPagamento_Taxa]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FormaPagamento] ADD  CONSTRAINT [DF_FormaPagamento_Taxa]  DEFAULT ((0.00)) FOR [TaxaDescontoPercent]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Funcionario_DataCadastro]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Funcionario] ADD  CONSTRAINT [DF_Funcionario_DataCadastro]  DEFAULT (sysdatetime()) FOR [DataCadastro]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Venda_Data]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Venda] ADD  CONSTRAINT [DF_Venda_Data]  DEFAULT (sysdatetime()) FOR [Data]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Modelo_Marca]') AND parent_object_id = OBJECT_ID(N'[dbo].[Modelo]'))
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD  CONSTRAINT [FK_Modelo_Marca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marca] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Modelo_Marca]') AND parent_object_id = OBJECT_ID(N'[dbo].[Modelo]'))
ALTER TABLE [dbo].[Modelo] CHECK CONSTRAINT [FK_Modelo_Marca]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_Atendente]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Atendente] FOREIGN KEY([IdAtendente])
REFERENCES [dbo].[Funcionario] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_Atendente]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Atendente]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_Cliente]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_Cliente]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Cliente]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_Marca]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Marca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marca] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_Marca]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Marca]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_Modelo]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Modelo] FOREIGN KEY([IdModelo])
REFERENCES [dbo].[Modelo] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_Modelo]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Modelo]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_PrimeiroPagamento]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_PrimeiroPagamento] FOREIGN KEY([PrimeiroPagamento])
REFERENCES [dbo].[FormaPagamento] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_PrimeiroPagamento]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_PrimeiroPagamento]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_SegundoPagamento]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_SegundoPagamento] FOREIGN KEY([SegundoPagamento])
REFERENCES [dbo].[FormaPagamento] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_SegundoPagamento]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_SegundoPagamento]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_Servico]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Servico] FOREIGN KEY([IdServico])
REFERENCES [dbo].[Servico] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_Servico]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Servico]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Status] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[StatusServico] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Venda_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Cliente_CNPJ_Len]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [CK_Cliente_CNPJ_Len] CHECK  (([CNPJ] IS NULL OR len([CNPJ])=(14)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Cliente_CNPJ_Len]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [CK_Cliente_CNPJ_Len]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Cliente_CPF_Len]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [CK_Cliente_CPF_Len] CHECK  (([CPF] IS NULL OR len([CPF])=(11)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Cliente_CPF_Len]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [CK_Cliente_CPF_Len]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Cliente_DocType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [CK_Cliente_DocType] CHECK  (([CPF] IS NOT NULL AND [CNPJ] IS NULL OR [CPF] IS NULL AND [CNPJ] IS NOT NULL))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Cliente_DocType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cliente]'))
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [CK_Cliente_DocType]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_FormaPagamento_Taxa]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormaPagamento]'))
ALTER TABLE [dbo].[FormaPagamento]  WITH CHECK ADD  CONSTRAINT [CK_FormaPagamento_Taxa] CHECK  (([TaxaDescontoPercent]>=(0) AND [TaxaDescontoPercent]<=(100)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_FormaPagamento_Taxa]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormaPagamento]'))
ALTER TABLE [dbo].[FormaPagamento] CHECK CONSTRAINT [CK_FormaPagamento_Taxa]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Venda_PagConsistencia]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [CK_Venda_PagConsistencia] CHECK  (([PrimeiroPagamento] IS NULL AND [ValorPrimeiroPagamento] IS NULL OR [PrimeiroPagamento] IS NOT NULL AND [ValorPrimeiroPagamento] IS NOT NULL))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Venda_PagConsistencia]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [CK_Venda_PagConsistencia]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Venda_ValorPag1]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [CK_Venda_ValorPag1] CHECK  (([ValorPrimeiroPagamento] IS NULL OR [ValorPrimeiroPagamento]>=(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Venda_ValorPag1]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [CK_Venda_ValorPag1]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Venda_ValorPag2]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [CK_Venda_ValorPag2] CHECK  (([ValorSegundoPagamento]>=(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Venda_ValorPag2]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [CK_Venda_ValorPag2]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Venda_ValorTotal]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [CK_Venda_ValorTotal] CHECK  (([ValorTotal]>=(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Venda_ValorTotal]') AND parent_object_id = OBJECT_ID(N'[dbo].[Venda]'))
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [CK_Venda_ValorTotal]
GO
